/* menu.html */
.menuSecciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: whitesmoke;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: -1rem;
    gap: 0.2rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.menuSecciones li {
    display: inline-flex;
    border: 0.2rem whitesmoke solid;
    border-radius: 0.5rem;
    color: whitesmoke;
    padding: 0.5rem;
    cursor: pointer;
    width: 187px;
    list-style-type: none;
    font-size: 1.6rem;
    justify-content: center;
    margin-right: 0.3rem;
}

.menuSecciones li:hover {
    scale: 1.1;
}

.container-menu ul {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.container-menu li {
    color: whitesmoke;
    list-style-type: none;
    border: 0.2rem whitesmoke solid;
    width: 35rem;
    max-height: 20rem;
    padding: 0.5rem;
}

li:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.4);
}

.container-menu img {
    width: 18rem;
    height: 18rem;
    float: left;
    margin-right: 0.5rem;
    object-fit: cover;
}

.container-menu img:hover {
    scale: 1.04;
}

.container-menu h3 {
    display: inline;
    padding: 0.5rem;
    font-size: 2rem;
}

legend {
    text-align: center;
    color: whitesmoke;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: -2rem;
}

.container-menu p {
    font-size: 1.2rem;
}

.precioMenu {
    float: right;
    }

small {
    display: block;
    color: whitesmoke;
    text-align: center;
}